<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e3831a00ca.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<style media="screen">
nav{
  display: flex;
  align-items: center;
}
</style>
</head>
<body>
    <div class="container" id="container">
        <div class="navigation">
            <div class="for-logo">
                <a><i class="fa fa-bars" id="one"></i></a>
                <a href="/"><img src="/images/logo.webp" alt="logo"></a>
                <a><i class="fa fa-bars" id="two" onclick="navigation()"></i></a>
            </div>
            <div class="navigation-bar" id="navigation-bar">
                <nav>
                    <ul>
                      <li><a href="/article/<%=email%>">Add a Post</a></li>
                    </ul>
                </nav>
                <p style="float:right">Logged as <%=email%></p>
            </div>
        </div>
    </div>
    <style>
    .thead{
      background-color: grey;
      color: white;
    }
    </style>
        <div class="body" style="margin: 10% 50px;">
            <table class="table">
          <thead class="thead">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Title</th>
              <th scope="col">Content</th>
              <th scope="col">Image Url</th>
              <th scope="col">Video Url</th>
              <!-- <th>Update</th> -->
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>

<% rows.forEach(function(r){
            %>
            <tr scope="row">

            <td><%= r.name%></td>
            <td><%= r.title%></td>
            <td><%= r.content%></td>
            <td>
              <a href="<%= r.photo%>">photo</a>
            </td>
            <td>
            <a href="<%= r.video%>">video</a>
            </td>

            <td>
              <a href="/delete/<%=r.id%>">delete</a>
            </td>
            </tr>
            <%
          })%>
        </tbody>

        </table>

      </div>
</body>
</html>
